<!DOCTYPE html>
<html>
<head>
    <title>Modificar Autobús</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Modificar Autobús</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Guardar Cambios</button>
        </form>
        <a href="{% url 'mostrar_buses' %}" class="btn">Mostrar</a>
    </div>
</body>
</html>
