<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agregar pasajero</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">LISTADO DE PASAJEROS</div>
    <div class="container">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="AGREGAR PASAJERO">
        </form>
        <a href="../pasajeros">PASAJEROS</a>
    </div>
</body>
</html>